/* Add here all your css styles (customizations) */

.align-center{
    margin-left: auto;
    margin-right: auto;
}

.github-button{
    width: 124px;
}

.github-btn-before{
    margin-right: 48px;
}

.navbar-brand > img{
    width: 150px!important;
}

#contact .btn:hover {
    color: #e74c3c !important;
}

.w-228 {
    width: 228px;
    text-align: left;
    color: #555;
}

.mail {
    padding-right: 2px;
}

.owl-buttons {
    display: none !important;
}

.ta-js {
    text-align: justify;
}

.fs-18 {
    font-size: 18px;
}

.fs-16 {
    font-size: 16px;
}

#our-cases .container {
    padding-top: 10px !important;
    padding-bottom: 70px !important;
}

#testimonials {
    margin-top: 0 !important;
    padding-bottom: 60px;
}

#testimonials .container .sponsors {
    width: 40%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.sponsors li a {
    padding: 0 10px !important;
}

.sponsors li {
    height: 121px !important;
    width: 50%;
}

.sponsors li a img {
    height: 121px;
}

.caption-outer img {
    height: 233.33px !important;
}

#blog .lawyer-post img {
    height: 240px !important;
}

.our-team-v4-start {
    background: #4d4354 url(../img-temp/Our-Team.jpg) no-repeat 50% 0 / cover;
}

.our-team-v4-member-wrapper img {
    height: 450px !important;
}

.g-mb-40 {
    margin-bottom: 10px !important;
}

#Contact {
    padding-bottom: 60px;
}

#Contact .row {
    margin-left: auto;
    margin-right: auto;
}

#irc {
    border: 0;
    width: 88%;
    height: 498px;
    padding-top: 60px;
}

hr {
    margin: 0 0;
}

/*Projects*/

.g-heading-v9.text-center:after {
    left: 44% !important;
}

.g-heading-v9:after {
    width: 143px!important;
}

#blog {
    margin-top: 60px;
}

#blog h2,
#blog2 h2,
#blog3 h2 {
    font-weight: 700;
    font-size: 40px;
}

#getInvolved,
#projects {
    margin-top: 82px;
}

.g-pb-40 {
    padding-bottom: 0;
}

.g-pt-100 {
    padding-top: 60px !important;
}

#testimonials .container .g-mb-70 {
    margin-bottom: 30px !important;
}

/*Get Involved*/

#getInvolved p {
    font-size: 18px;
    margin-bottom: 0;
}

#getInvolved .container .fs-16 p {
    font-size: 16px !important;
}

#getInvolved .footer-section p {
    font-size: 14px;
    margin-bottom: 30px !important;
}

#getInvolved-content {
    padding-top: 70px;
}

#getInvolved-content h3 {
    font-weight: 600;
    font-size: 40px;
}

.heading-padding {
    padding-top: 30px;
}


.reduce {
    margin-bottom: 30px !important;
}

blockquote {
    /*border-left: 5px solid #e74c3c!important;*/
}

ul {
    list-style-type: none;
}

#points li p {
    margin-bottom: 10px !important;
}

.steps-heading {
    padding-bottom: 5px;
}

.steps-heading h4 {
    font-weight: 600;
    padding-top: 30px;
}

.steps-heading .g-heading-v9:after {
    width: 60px !important;
}

.team-h2 {
    margin-top: 80px;
}

/*Project*/
.project-heading{
    font-size: 30px;
}

.project-sub-headings{
    font-size: 30px!important;
}

.pb-15{
    padding-bottom: 1px!important;
}

.pt-15{
    padding-top: 15px!important;
}

.mb-0{
    margin-bottom: 0!important;
}

.pt-30{
    padding-top: 30px!important;
}

.features i{
    font-size: 10px!important;
}

.features ul, .features li {
    margin-bottom: 5px!important;
    color: #a49da6!important;
}

.features{
    font-size: 18px!important;
    padding-left: 30px!important;
}

.fa-circle:before{
    color: #e74c3c;
}

#blog #donut .g-heading-v9:after, #blog2 #codo .g-heading-v9:after{
    left: 0!important;
}

#contributors{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;    
}

#contributors .fa{
    font-size: 23px;
}

#contributors .btn-u-lg, a.btn-u-lg{
    padding: 5px 9px;
}

#contributors .github-button{
    width: 38px;
}

#contributors .g-mb-50{
    margin-bottom: 2px!important;
}

#contributors .g-mb-25{
    margin-bottom: 0px!important;
}

#contributors p{
    text-align: center;
    font-size: 14px;
}

#contributors img{
    border-radius: 50%;
}

#contributrs .col-xs-1{
    width: 11.333333%;
}

.hr-style{
    margin-top: 50px!important;
}

@media (max-width: 768px) {
    
    .navbar-brand > img{
        width: 110px!important;
    }

    .center-align {
        text-align: center;
    }

    .pb-15 {
        padding-bottom: 20px;
    }

    .pb-20 {
        padding-bottom: 20px;
    }    

    #blog h2 {
        font-size: 30px;
    }

    .pr-pl-0 {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    .g-heading-v9.text-center:after {
        left: 31% !important;
    }

    .sponsors li {
        height: 121px !important;
        width: 50%;
    }

    #testimonials .container .sponsors {
        width: 85%;
    }

    .sponsors li a img {
        height: 90px;
    }

    #irc {
        border: 0;
        width: 100%;
        height: 398px;
        padding-top: 0px;
    }

    .g-heading-v9:after {
        left: 26% !important;
    }

    /*Get Involved*/
    #points {
        padding-left: 0 !important;
    }

    #getInvolved p {
        font-size: 16px;
        margin-bottom: 0;
    }

    #getInvolved-content h3 {
        font-size: 30px;
        line-height: 1.2;
        text-align: left;
    }

    #getInvolved-content .g-heading-v9:after{
        left: 0!important;
    }

    #getInvolved-content .g-heading-v9{
        padding-bottom: 12px!important;
    }

    #getInvolved,
    #projects {
        margin-top: 55px;
    }

    .steps-heading:after {
        left: 0 !important;
    }

    /*Home*/
    .promo {
        padding-top: 55px;
    }

    .one-page-header .navbar-toggle {
        margin-top: 11px !important;
    }

    .underline .g-heading-v9.text-center:after{
        left: 31%!important;
        width: 143px!important;
    }

    /*Team*/
    .team-h2{
        margin-top: 30px!important;
    }

    .our-team-v4-start {
        height: 404px !important;
    }

    .our-team-v4-start:after {
        background: #4e4353 !important;
    }

    /*Projects*/
    .project-sub-headings{
        font-size: 20px!important;
    }

    #blog p, #blog2 p{
        font-size: 16px!important;
    }
    #blog #donut .g-heading-v9:after, #blog2 #codo .g-heading-v9:after{
        width: 78px!important;
    }
    .features ul, .features li {
        font-size: 16px;
    }
    #blog2 h2{
        font-size: 30px;
    }
    .github-button{
        margin-top: 9px;
    }
    #contributors .col-3xs-12{
        width: 33%;
    }
    .hr-style{
        margin-top: 50px!important;
    }    
}