.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    grid-row-gap: 50px;
}
@media screen and (max-width:767px) {
    .grid {
        grid-template-columns: auto;
    }
}