<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>Our Projects</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <!-- Web Fonts -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800&amp;subset=cyrillic,latin">
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/css/blocks.css">
    <link rel="stylesheet" href="assets/css/plugins.css">
    <link rel="stylesheet" href="assets/css/one.style.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="assets/plugins/animate.css">
    <link rel="stylesheet" href="../assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="../assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="../assets/plugins/owl-carousel2/assets/owl.carousel.css">
    <link rel="stylesheet" href="../assets/plugins/master-slider/masterslider/style/masterslider.css">
    <link rel="stylesheet" href="../assets/plugins/master-slider/u-styles/testimonials-1.css">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" href="../assets/plugins/revolution-slider/revolution/css/settings.css">
    <!-- REVOLUTION LAYERS STYLES -->
    <link rel="stylesheet" href="../assets/plugins/revolution-slider/revolution/css/layers.css">
    <!-- REVOLUTION NAVIGATION STYLES -->
    <link rel="stylesheet" href="../assets/plugins/revolution-slider/revolution/css/navigation.css">
    <!-- CSS Theme -->
    <link rel="stylesheet" href="assets/css/lawyer.style.css">
    <!-- CSS Theme -->
    <link rel="stylesheet" href="assets/css/agency.style.css">
    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/css/custom.css">
    <!-- Blog CSS -->
    <link rel="stylesheet" href="assets/css/blog.css">
</head>

<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery lawyer-style">
    <main class="wrapper">
        <!-- Header -->
        <nav class="one-page-header navbar navbar-default navbar-fixed-top one-page-nav-scrolling one-page-nav__fixed top-nav-collapse" data-role="navigation">
            <div class="container">
                <div class="menu-container page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/img/codeuino.png" alt="Logo">
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <div class="menu-container">
                        <ul class="nav navbar-nav">
                            <li class="page-scroll">
                                <a href="index.html"><span data-hover="Home">Home</span></a>
                            </li>
                            <li class="page-scroll">
                                <a href="projects.html"><span data-hover="Projects">Projects</span></a>
                            </li>
                            <li class="page-scroll">
                                <a href="team.html"><span data-hover="Team">Team</span></a>
                            </li>
                            <li class="page-scroll">
                                <a href="https://wiki.codeuino.org"><span data-hover="Wiki">Wiki</span></a>
                            </li>
                            <li class="page-scroll">
                                <a href="getInvolved.html"><span data-hover="Get Involved">Get Involved</span></a>
                            </li>
                            <li class="page-scroll">
                                <a href="codeofconduct.html"><span data-hover="Code Of Conduct">Code Of Conduct</span></a>
                            </li>
                            <li class="page-scroll">
                                <a href="license.html"><span data-hover="License">License</span></a>
                            </li>                            
                        </ul>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- End Header -->
        <!-- Project section -->
        <section id="projects" class="g-theme-bg-color-1 g-text-color-2 text-center g-pt-100 g-pb-40">
            <div class="container">
                <!-- Testimonials Info -->
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <div class="g-heading-v9 text-center g-mb-30">
                            <h2><strong>Our Projects</strong></h2>
                        </div>
                        <!-- <p class="g-fs-16 g-mb-60">Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem, vel faucibus ante. Nunc ullamcorper, justo a iaculis elementum, enim orci viverra eros, fringilla porttitor lorem eros vel odio.</p> -->
                    </div>
                </div>
                <!-- End Testimonials Info -->
            </div>
        </section>
        <div class="container content blog-page blog-item" id="blog">
            <!--Blog Post-->
            <div class="blog margin-bottom-40" id="donut">
                <div class="g-heading-v9 g-mb-30">
                    <h2 class="text-uppercase">Donut: <span class="project-heading">An Open Source Social Networking Environment</span></h2>
                </div>
                <div class="blog-img">
                    <img class="img-responsive" src="assets/img-temp/projects/donut_landing.png" alt="">
                    </div>
                    <div class="g-heading-v9 g-mb-30 pb-15 pt-15">
                        <h2 class="text-uppercase project-sub-headings">Introduction</h2>
                    </div>
                    <p class="g-fs-16 g-mb-60 fs-18 ta-js mb-0">The world we currently live in is full of Technologies and with each passing day a new gadget or a jargonic device is introduced in the market which tends to improve the life of people in one or the other way and the present globe needs up a flexible social base for Collaboration, representation and implementation.
                        So DONUT is an Open Source Social researching environment kit developed in Node.js and React that tends to serve robust frameworks solutions which could span the entire world within organisation through building their own custom social environments, discussion portals and collaboration platforms for raising products under social open Source.
                        It's lightweight, powerful and comes with an user-friendly interface. With DONUT you can create your own customized social network, social intranet or huge social enterprise application that really fits into organisation needs.
                    </p><br>
                    <div class="g-heading-v9 g-mb-30 pb-15 pt-15">
                        <h2 class="text-uppercase project-sub-headings">Mission:</h2>
                    </div>
                    <p class="g-fs-16 g-mb-60 fs-18 ta-js mb-0">The main purpose which DONUT serves is “ Publication Unity of Open Source”, that is every Open Source organisation across this globe needs a framework where they could interact with their developers, community builders, designers, writers and other open source maniacs on a planet involving Open Source Environment.
                        This platform has got many domains and is divided into many phases of social environment where it allows users to get their projects researched under various experts and organisations that exist on this planet (DONUT).We have been publishing various “Research papers” but not really the ”Open Source Projects”.
                        This framework allows only Open Source projects that various enthusiasts wants to develop that could fit into organisations as well as the entire world by allowing the users to publish their projects under various organisations, Open Source Experts and other community feedbackers who could help into projects to extract out better outcome.</p>
                    <div class="g-heading-v9 g-mb-30 pb-15 pt-30">
                        <h2 class="text-uppercase project-sub-headings">Vision:</h2>
                    </div>
                    <p class="g-fs-16 g-mb-60 fs-18 ta-js mb-0">Well this project depends upon the “OS Tags” and work in the flexible way.
                        After Signing into this environment whenever the Open Source User wants to publish their projects for research, they fill out details of the projects as per the requirements written in the served forms for this purpose while they develop and fill out the details of their particular projects. As asked by this platform forms they define various tags like “design”, “contributor”, “any particular language for instance; Nodejs, Python”, etc.
                    </p><br>
                    <p class="g-fs-16 g-mb-60 fs-18 ta-js mb-0">Similarly when any other person, signs up then they are also asked to define their on tags or select from predefined ones that matches in previous.
                        So when the User publish their project after defining these tags and details, these tags coincide with the tags that has been given by people and then those particular projects are redirected to those people only containing tags like “design”, “any particular language for instance; Nodejs, Python”, etc.
                        With this mission DONUT project tends to have a good impact on the Open Source.
                    </p><br>
                    <p class="g-fs-16 g-mb-60 fs-18 ta-js mb-0">Moreover Developers are still working to create a mechanism so that User as well as organisations can integrate 3rd auth parties software.
                        Well, this feature works as an OPTIONAL feature for the organisations if they want to open up this in their own custom way.
                    </p><br>
                    <p class="g-fs-16 g-mb-60 fs-18 ta-js mb-0">DONUT project also come with the Discussion portal, The open source has got its huge base for the organisations using IRC, but usually as a part of social environments like Facebook, Twitter, Linkedin, etc. the discussion last in the form of comments but DONUT provides to connect with the flexible “channel discussion portal” works similar to IRC in terms if channels but has got more profind and simple features to raise discussions for various projects that are published on this platform.So a User will be redirected to the particular channel only for the discussion of that particular project.
                    </p><br>
                    <div class="g-heading-v9 g-mb-30 pb-15 pt-30">
                        <h2 class="text-uppercase project-sub-headings">Features:</h2>
                    </div>
                    <p class="g-fs-16 g-mb-60 fs-18 mb-0">Due to its usage flexibility and being fully Open Source. It comes with the following:
                    </p><br>
                    <ul class="row marked-list g-theme-text-color-1 features">
                        <li><i class="fa fa-circle"></i> Social Environment Features</li>
                        <ul><i class="fa fa-circle"></i> Commenting</ul>
                        <ul><i class="fa fa-circle"></i> Agree/Disagree</ul>
                        <ul><i class="fa fa-circle"></i> Following</ul>
                        <ul><i class="fa fa-circle"></i> Tags</ul>
                        <li><i class="fa fa-circle"></i> Dashboard ( but for Users and organisations independently is still in progress )</li>
                        <li><i class="fa fa-circle"></i> Activities</li>
                        <li><i class="fa fa-circle"></i> Notifications</li>
                        <li><i class="fa fa-circle"></i> Themeable</li>
                        <li><i class="fa fa-circle"></i> Search</li>
                        <li><i class="fa fa-circle"></i> Project Showcases</li>
                        <li><i class="fa fa-circle"></i> User Profiles</li>
                        <li><i class="fa fa-circle"></i> Public Access (beta)</li>
                        <li><i class="fa fa-circle"></i> User Approval System</li>
                        <li><i class="fa fa-circle"></i> Forms for Organising the Events/ Projects/ Articles</li>
                        <li><i class="fa fa-circle"></i> Feeds</li>
                        <li><i class="fa fa-circle"></i> User profile setting</li>
                        <li><i class="fa fa-circle"></i> 3rd parties authentication</li>
                        <li><i class="fa fa-circle"></i> Discussion Portal</li>
                        <li><i class="fa fa-circle"></i> Badges ( In planning )</li>
                    </ul>
                    <p class="g-fs-16 g-mb-60 fs-18 ta-js mb-0">More features are to be released soon.
                        So the users/organisations can write various articles, feeds, post images, videos, projects, internships, blogs just like facebook but this provides the actual impact of the open source social environment.
                    </p><br>
                    <div class="g-heading-v9 g-mb-30 pb-15 pt-30">
                        <h2 class="text-uppercase project-sub-headings">Things to be  Achieved:</h2>
                    </div>
                    <p class="g-fs-16 g-mb-60 fs-18 ta-js mb-0">More to be added.
                    </p><br>
                </div>
                <!--End Blog Post-->
                <hr>
            </div>
        </div>
        <div class="container content blog-page blog-item" id="blog2">
            <!--Blog Post-->
            <div class="blog margin-bottom-40" id="codo">
                <div class="g-heading-v9 g-mb-30">
                    <h2 class="text-uppercase">Codo: <span class="project-heading">An Open Source Channel based discussion portal</span></h2>
                </div>
                <div class="blog-img">
                    <img class="img-responsive" src="assets/img/4.jpg" alt="">
                    </div>
                    <div class="g-heading-v9 g-mb-30 pb-15 pt-15">
                        <h2 class="text-uppercase project-sub-headings">Introduction</h2>
                    </div>
                    <p class="g-fs-16 g-mb-60 fs-18 ta-js mb-0">Well CODO is one of the integrated project of the DONUT platform which acts as an Open Source Channel based discussion portal especially for the Social environments for the project that are published in the various framework within the Platform.
                        This is built on Node Js and CSS styling frameworks.
                        Engage in the authorizable discussions with most avid people, project maintainers, contributors on the platform.
                        CODO pares all the complexity away and puts just the essential stuff that is needed as per the requirement for the project. It allows you to share the files like an image, videos and allows you to paste the links.
                        Public channels allow team members to communicate without the use of email or group SMS (texting). They are open to everyone in the chat, provided they have first been invited to join the client that usually called as “channel”. It also allows Private channels for private conversation between one another. Direct messages allow users to send private messages to a specific user rather than a group of people.
                    </p><br>
                    <div class="g-heading-v9 g-mb-30 pb-15 pt-15">
                        <h2 class="text-uppercase project-sub-headings">Mission:</h2>
                    </div>
                    <p class="g-fs-16 g-mb-60 fs-18 ta-js mb-0">We use many communication channels for chatting, discussions and collaborations but when it comes to the project discussions then it usually becomes quite hectic to carry forward the discussion on same platform.
                        For instance there exist a project platform that allows you to discuss about various ongoing projects but everything gets messed up when everything occurs at the same time and in same channel. So this platform tends to prevent these circumstances by providing individual channels for every project that needs discussion so that whenever a project needs discussion then the user is redirected to the particular channel and gets involved with other people or group on it.
                    </p><br>
                    <div class="g-heading-v9 g-mb-30 pb-15 pt-15">
                        <h2 class="text-uppercase project-sub-headings">Trying to Achieve:</h2>
                    </div>
                    <p class="g-fs-16 g-mb-60 fs-18 ta-js mb-0">Well the team behind this project is trying to build up a framework such that users involved in the project discussions could tags people involved only in the public discussions. Moreover, a security catch up could be build that would prevent otherless discussion ( not really linked to the project ) in particular channel.
                    </p><br>
                </div>
                <!--End Blog Post-->
                <hr>
            </div>
        </div>
        </section>
        <!-- End Project section -->
        <hr style="height:4px;border:none;color:#e74c3c;background-color:#e74c3c;width: 50%;margin-left: auto;margin-right: auto;">
        <!-- Footer -->
        <footer>
            <section class="footer-section container g-pt-50 text-center">
                <div class="row">
                    <div class="col-sm-12 g-mb-40">
                        <h5 class="text-uppercase g-mb-20"><strong>CODEUINO</strong></h5>
                        <p>Codeuino is a Non-Profit Open Source Social Networking organisation that provides various robust frameworks solutions which could span the entire world through building all kinds of social environments, discussion portals and collaboration.</p>
                        <ul class="social-icons-v-2">
                            <li><a href="https://twitter.com/codeuino"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://github.com/codeuino"><i class="fa fa-github"></i></a></li>
                            <li><a href="https://www.facebook.com/codeuino/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/codeuino/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </footer>
        <hr style="height:40px;border:none;color:#4d4354;background-color:#4d4354;">
        <!-- End Footer -->
    </main>
    <!-- JS Global Compulsory -->
    <script src="assets/plugins/jquery/jquery.min.js"></script>
    <script src="assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script src="assets/plugins/smoothScroll.js"></script>
    <script src="assets/plugins/jquery.easing.min.js"></script>
    <script src="../assets/plugins/owl-carousel2/owl.carousel.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&amp;callback=initMap" async defer></script>
    <script src="assets/js/plugins/gmaps-ini.js"></script>
    <script src="../assets/plugins/master-slider/masterslider/masterslider.min.js"></script>
    <script src="../assets/plugins/revolution-slider/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="../assets/plugins/revolution-slider/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS (Load Extensions only on Local File Systems! The following part can be removed on Server for On Demand Loading) -->
    <script src="../assets/plugins/revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="../assets/plugins/revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="../assets/plugins/revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="../assets/plugins/revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="../assets/plugins/revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="../assets/plugins/revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="../assets/plugins/revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="../assets/plugins/revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="../assets/plugins/revolution-slider/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <!-- JS Page Level-->
    <script src="assets/js/one.app.js"></script>
    <script src="assets/js/plugins/owl-carousel2.js"></script>
    <script src="assets/js/plugins/promo.js"></script>
    <script src="assets/js/plugins/testimonials.js"></script>
    <script>
    jQuery(document).ready(function() {
        App.init();
        OwlCarousel.initOwlCarousel();
    });
    </script>
    <!--[if lt IE 10]>
    <![endif]-->
</body>

</html>