<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>Our Team 😎</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <!-- Web Fonts -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800&amp;subset=cyrillic,latin">
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/css/blocks.css">
    <link rel="stylesheet" href="assets/css/plugins.css">
    <link rel="stylesheet" href="assets/css/one.style.css">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="assets/plugins/animate.css">
    <link rel="stylesheet" href="../assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="../assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="../assets/plugins/owl-carousel2/assets/owl.carousel.css">
    <link rel="stylesheet" href="../assets/plugins/master-slider/masterslider/style/masterslider.css">
    <link rel="stylesheet" href="../assets/plugins/master-slider/u-styles/testimonials-1.css">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" href="../assets/plugins/revolution-slider/revolution/css/settings.css">
    <!-- REVOLUTION LAYERS STYLES -->
    <link rel="stylesheet" href="../assets/plugins/revolution-slider/revolution/css/layers.css">
    <!-- REVOLUTION NAVIGATION STYLES -->
    <link rel="stylesheet" href="../assets/plugins/revolution-slider/revolution/css/navigation.css">
    <!-- CSS Theme -->
    <link rel="stylesheet" href="assets/css/lawyer.style.css">
    <!-- CSS Theme -->
    <link rel="stylesheet" href="assets/css/agency.style.css">
    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/css/custom.css">
</head>

<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery lawyer-style">
    <main class="wrapper">
        <!-- Header -->
        <nav class="one-page-header navbar navbar-default navbar-fixed-top one-page-nav-scrolling one-page-nav__fixed top-nav-collapse" data-role="navigation">
            <div class="container">
                <div class="menu-container page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/img/codeuino.png" alt="Logo">
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <div class="menu-container">
                        <ul class="nav navbar-nav">
                            <li class="page-scroll">
                                <a href="index.html"><span data-hover="Home">Home</span></a>
                            </li>
                            <li class="page-scroll">
                                <a href="projects.html"><span data-hover="Projects">Projects</span></a>
                            </li>                            
                            <li class="page-scroll">
                                <a href="team.html"><span data-hover="Team">Team</span></a>
                            </li>
                            <li class="page-scroll">
                                <a href="https://wiki.codeuino.org"><span data-hover="Wiki">Wiki</span></a>
                            </li>                            
                            <li class="page-scroll">
                                <a href="getInvolved.html"><span data-hover="Get Involved">Get Involved</span></a>
                            </li>
                            <li class="page-scroll">
                                <a href="codeofconduct.html"><span data-hover="Code Of Conduct">Code Of Conduct</span></a>
                            </li>
                            <li class="page-scroll">
                                <a href="license.html"><span data-hover="License">License</span></a>
                            </li>                            
                        </ul>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- End Header -->
        <!-- About section -->
        <div class="our-team-v4 text-center g-heading-v7" id="Team">
            <div class="our-team-v4-start">
                <div class="container">
                    <h2 class="h2 team-h2">Our Team</h2>
                    <!-- <div class="row g-mb-30">
                        <div class="col-sm-8 col-sm-offset-2">
                            Praesent eu nibh malesuada, condimentum nibh hendrerit, viverra sem. Nulla porttitor eget ante ullamcorper convallis. Integer dictum lorem arcu, eget tempus nulla accumsan id.
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="container our-team-v4-members">
                <div class="row">
                    <!-- Col -->
                    <div class="col-md-3 col-sm-6 col-xs-6 col-2xs-12">
                        <div class="our-team-v4-member g-mb-50">
                            <div class="our-team-v4-member-wrapper g-mb-40">
                                <img src="assets/img-temp/team/jaskirat.jpg" alt="">
                                <div>
                                    <em>
                                        survive with passion, play with challenges, hold up the success fame
                                    </em>
                                    <ul class="g-social-icons-v2">
                                        <li><a href="https://twitter.com/jaskira87193647?s=09"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://github.com/jaskirat2000"><i class="fa fa-github"></i></a></li>
                                        <li><a href="https://www.facebook.com/jaskirat.singh.90410834"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/jaskirat-singh-320023165"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <em class="our-team-v4__role">Co-Founder</em>
                            <strong class="our-team-v4__name">Jaskirat Singh</strong>
                            <!-- <span class="our-team-v4__position">Head Photographer</span> -->
                        </div>
                    </div>
                    <!-- End Col -->
                    <!-- Col -->
                    <div class="col-md-3 col-sm-6 col-xs-6 col-2xs-12">
                        <div class="our-team-v4-member g-mb-50">
                            <div class="our-team-v4-member-wrapper g-mb-40">
                                <img src="assets/img-temp/team/uphaar.jpg" alt="">
                                <div>
                                    <em>
                                    changing your mind and changing world
                                </em>
                                    <ul class="g-social-icons-v2">
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://github.com/capedcrusader23"><i class="fa fa-github"></i></a></li>
                                        <li><a href="https://www.facebook.com/uphaardubey232"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/uphaar-dubey-60b3b3174"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <em class="our-team-v4__role">Developer</em>
                            <strong class="our-team-v4__name">Uphaar Dubey</strong>
                            <!-- <span class="our-team-v4__position">Creative Director</span> -->
                        </div>
                    </div>
                    <!-- End Col -->
                    <!-- Col -->
                    <div class="col-md-3 col-sm-6 col-xs-6 col-2xs-12">
                        <div class="our-team-v4-member g-mb-50">
                            <div class="our-team-v4-member-wrapper g-mb-40">
                                <img src="assets/img-temp/team/devesh.jpg" alt="">
                                <div>
                                    <em>
                                    prepare for the best, be ready for the worst 
                                </em>
                                    <ul class="g-social-icons-v2">
                                        <li><a href="https://twitter.com/This_is_Devesh_"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://github.com/devshiva619"><i class="fa fa-github"></i></a></li>
                                        <li><a href="https://www.facebook.com/AlliNeedMoney"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/devesh-verma/"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <em class="our-team-v4__role">Developer</em>
                            <strong class="our-team-v4__name">Devesh Verma</strong>
                            <!-- <span class="our-team-v4__position">Marketing Director</span> -->
                        </div>
                    </div>
                    <!-- End Col -->
                </div>
                <div class="row">
                    <!-- Col -->
                    <div class="col-md-3 col-sm-6 col-xs-6 col-2xs-12">
                        <div class="our-team-v4-member g-mb-50">
                            <div class="our-team-v4-member-wrapper g-mb-40">
                                <img src="assets/img-temp/team/vaibhav.jpg" alt="">
                                <div>
                                    <em>
                                    changing your mind and changing world
                                </em>
                                    <ul class="g-social-icons-v2">
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <em class="our-team-v4__role">DEVELOPER</em>
                            <strong class="our-team-v4__name">VAIBHAV AREN</strong>
                            <!-- <span class="our-team-v4__position">Head Photographer</span> -->
                        </div>
                    </div>
                    <!-- End Col -->
                </div>
            </div>
        </div>
        <!-- End About section -->
        <hr style="height:4px;border:none;color:#e74c3c;background-color:#e74c3c;width: 50%;margin-left: auto;margin-right: auto;">

        <!-- Footer -->
        <footer>
            <section class="footer-section container g-pt-50 text-center">
                <div class="row">
                    <div class="col-sm-12 g-mb-40">
                        <h5 class="text-uppercase g-mb-20"><strong>CODEUINO</strong></h5>
                        <p>Codeuino is a Non-Profit Open Source Social Networking organisation that provides various robust frameworks solutions which could span the entire world through building all kinds of social environments, discussion portals and collaboration.</p>
                        <ul class="social-icons-v-2">
                            <li><a href="https://twitter.com/codeuino"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://github.com/codeuino"><i class="fa fa-github"></i></a></li>
                            <li><a href="https://www.facebook.com/codeuino/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/codeuino/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </footer>
        <hr style="height:40px;border:none;color:#4d4354;background-color:#4d4354;">
        <!-- End Footer -->
    </main>
    <!-- JS Global Compulsory -->
    <script src="assets/plugins/jquery/jquery.min.js"></script>
    <script src="assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script src="assets/plugins/smoothScroll.js"></script>
    <script src="assets/plugins/jquery.easing.min.js"></script>
    <script src="../assets/plugins/owl-carousel2/owl.carousel.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&amp;callback=initMap" async defer></script>
    <script src="assets/js/plugins/gmaps-ini.js"></script>
    <script src="../assets/plugins/master-slider/masterslider/masterslider.min.js"></script>
    <script src="../assets/plugins/revolution-slider/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="../assets/plugins/revolution-slider/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS (Load Extensions only on Local File Systems! The following part can be removed on Server for On Demand Loading) -->
    <script src="../assets/plugins/revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="../assets/plugins/revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="../assets/plugins/revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="../assets/plugins/revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="../assets/plugins/revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="../assets/plugins/revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="../assets/plugins/revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="../assets/plugins/revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="../assets/plugins/revolution-slider/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <!-- JS Page Level-->
    <script src="assets/js/one.app.js"></script>
    <script src="assets/js/plugins/owl-carousel2.js"></script>
    <script src="assets/js/plugins/promo.js"></script>
    <script src="assets/js/plugins/testimonials.js"></script>
    <script>
    jQuery(document).ready(function() {
        App.init();
        OwlCarousel.initOwlCarousel();
    });
    </script>
    <!--[if lt IE 10]>
        <script src="../assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
    <![endif]-->
</body>

</html>
