//home styles
.home-heading {
  color: $primary-blue;
  font-size: 55px;
  font-weight: 600;
}

.home-hr {
  background-color: $primary-orange;
  border: 2px solid $primary-orange;
  height: 5px;
  margin-bottom: 20px;
  margin-left: 2px;
  width: 30%;
}

.home-subheading {
  font-size: 18px;
  max-width: 90%;
}

.home-image-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.home-banner {
  max-width: 100%;
}

.home-github-button {
  background-color: $github-button-black;
  border: 0;
  border-radius: 30px;
  color: $white;
  font-size: 18px;
  font-weight: 600;
  padding: 6px 25px;
  margin: 5px;
  transition: all 0.3s ease 0s;

  &:hover {
    box-shadow: 0 8px 15px $shadow-black;
    background: $black;
    color: $white;
    transform: translateY(-5px);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus,
  &:focus {
    background-color: $black;
    border: 0;
    box-shadow: 0 0 0 0.2rem $secondary-blue;
    color: $white;
  }
}

.home-github-icon {
  height: 20px;
  margin: 5px 10px 5px 5px;
  width: 20px;
}

.home-slack-button {
  background-color: $white;
  border: 1px solid $shadow-black;
  border-radius: 30px;
  color: $black;
  font-weight: 600;
  padding: 6px 25px;
  margin: 5px;
  transition: all 0.3s ease 0s;

  &:hover {
    border: 1px solid $shadow-black;
    box-shadow: 0 8px 15px $shadow-black;
    background-color: $white;
    color: $black;
    transform: translateY(-5px);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus,
  &:focus {
    background-color: $white;
    border: 1px solid $shadow-black;
    box-shadow: 0 0 0 0.2rem $secondary-blue;
    color: $black;
  }
}

.home-slack-icon {
  height: 25px;
  margin: 2px 10px 3px 5px;
  width: 25px;
}

.home-mission {
  background-color: $secondary-blue;
  border-radius: 10px;
  padding: 25px 40px 15px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.home-mission-heading {
  color: $primary-blue;
  font-size: 50px;
}

.home-mission-content {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .home-image-container {
    margin-top: 30px;
  }

  .home-heading {
    font-size: 40px;
  }
}

@media (max-width: 450px) {
  .home-github-button,
  .home-slack-button {
    padding: 6px 15px;
  }

  .home-hr {
    height: 2px;
    margin-bottom: 20px;
    margin-left: 2px;
    width: 25%;
  }
}
//home ends

//about styles
.about-card-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  .col-md-6,
  .col-lg-4 {
    padding-left: 0;
    padding-right: 0;
  }
}

.about-card {
  border: 1px solid $white;
  display: inline-block;
  min-height: 382px;
  max-width: 370px;
  padding-bottom: 10px;
  padding-top: 10px;
  transition: all 0.3s ease 0s;

  &:hover {
    border: 1px solid $shadow-black;
    border-radius: 10px;
    box-shadow: 0 8px 15px $shadow-black;
  }
}

.about-card-heading {
  color: $black;
  font-size: 35px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.about-card-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
  text-align: justify;
}

.about-sketch {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 70px;
  max-width: 80%;
  text-align: center;
}

@media (max-width: 1200px) and (min-width: 960px) {
  .about-card {
    min-height: 442px;
  }
}

@media (max-width: 960px) {
  .about-card {
    min-height: 399px;
  }
}
//about ends

//values styles
.value-tabs-container {
  min-width: 125px;
  padding-left: 20px;
}

.value-tab {
  border-left: 3px solid $secondary-blue;
  cursor: pointer;
  max-height: 100px;
  margin-bottom: 0;
  padding-bottom: 15px;
  padding-top: 15px;

  h6 {
    font-size: 22px;
    font-weight: 500;
  }

  &.active {
    border-left: 3px solid $primary-blue;
    color: $primary-blue;
  }
}

.value-description-container {
  max-height: 415px;
  overflow-x: auto;
}

.value-description-heading {
  font-size: 25px;
  font-weight: 500;
  padding-top: 100px;
}

.value-description {
  font-size: 20px;
  padding-top: 15px;
}

.value-button {
  background-color: $primary-blue;
  border: 0;
  border-radius: 8px;
  color: $white;
  float: right;
  font-size: 16px;
  font-weight: 500px;
  margin-top: 20px;
  padding: 8px 14px;
  transition: all 0.3s ease 0s;

  &:hover {
    box-shadow: 0 8px 15px $shadow-black;
    background-color: $primary-blue;
    color: $white;
    transform: translateY(-5px);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus,
  &:focus {
    background-color: $primary-blue;
    border: 0;
    box-shadow: 0 0 0 0.2rem $secondary-blue;
    color: $white;
  }
}

@media (max-width: 768px) {
  .value-padding-description-container {
    padding-left: 35px;
  }

  .value-description-heading {
    padding-top: 60px;
  }
}

@media (max-width: 576px) {
  .value-padding-description-container {
    padding-left: 50px;
  }

  .value-description-heading {
    font-size: 20px;
    padding-top: 50px;
  }

  .value-description {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  .value-padding-description-container {
    padding-left: 5px;
  }
  .value-tab {
    padding-left: 5px;
    padding-right: 0;

    h6 {
      font-size: 18px;
      max-width: 100%;
    }
  }

  .value-padding-description-container {
    margin-left: 15px;
    max-width: 200px;
  }

  .value-description-heading {
    font-size: 20px;
    padding-top: 20px;
  }

  .value-description {
    font-size: 16px;
  }

  .value-button {
    font-size: 16px;
    font-weight: 500px;
    margin-top: 10px;
    padding: 6px 12px;
  }
}

@media (max-width: 417px) {
  .value-tabs-container {
    padding-right: 0;
  }
  .value-padding-description-container {
    max-width: 180px;
    overflow-x: auto;
  }
}

@media (max-width: 400px) {
  .value-tabs-container {
    padding-left: 0;
  }

  .value-padding-description-container {
    max-width: 150px;
    overflow-x: auto;
  }
}
//values ends

//timeline styles
.timeline-card-container {
  padding-left: 0;
  padding-right: 0;

  &:nth-child(2),
  &:last-child {
    .timeline-card {
      &::before {
        background-color: $primary-blue;
        border: 0;
        border-radius: 50%;
        bottom: 20px;
        color: $primary-blue;
        content: "";
        display: block;
        height: 25px;
        left: -5px;
        padding: 8px;
        position: absolute;
        width: 25px;
        z-index: 10;
      }
    }
  }

  &:last-child {
    .timeline-card {
      border-bottom: 8px solid $white;
    }
  }
}

.timeline-container {
  align-items: flex-end;
  display: flex;
  flex-wrap: nowrap;
  max-width: none;
  overflow-x: scroll;
  padding-bottom: 15px;
  padding-left: 20px;
  position: relative;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: $white;
  }

  &::-webkit-scrollbar-thumb {
    background: $secondary-blue;
  }
}

.timeline-card {
  border-bottom: 8px solid $primary-blue;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
}

.timeline-card-content {
  max-width: 85%;
}

.timeline-summary-container {
  background-color: $secondary-blue;
  border: 0;
  height: 400px;
  margin-right: 20px;
  max-width: 400px;
  padding: 25px;
}

.timeline-summary-heading {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.timeline-summary-hr {
  background-color: $primary-orange;
  border: 1px solid $primary-orange;
  height: 3px;
  margin-bottom: 15px;
  margin-left: 2px;
  width: 30%;
}
//timeline ends

//project styles
.project-container {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: justify;
  transform: skewY(0deg);
}

.project-image-container {
  padding-left: 0;
  padding-right: 0;
}

.project-image {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

.project-card {
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.project-heading {
  color: $black;
  font-size: 35px;
  text-align: center;
}

.project-subheading {
  font-size: 20px;
  text-align: center;
}

.project-anchor-container {
  text-align: center;
}

.project-design-container {
  border: 1px solid $shadow-black;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 15px 20px;
}

.project-design-heading {
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 30px;
}

.project-design-text {
  display: inline-block;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 7px;
  margin-bottom: 20px;
}

.project-design-image-container {
  margin-left: auto;
  text-align: right;
}

.project-design-image {
  max-height: 200px;
  max-width: 60%;
}

@media (max-width: 1200px) {
  .project-container-first-background {
    top: 3400px;
  }
  .project-container-second-background {
    top: 4300px;
  }
}

@media (max-width: 992px) {
  .project-container-first-background {
    top: 3900px;
  }
  .project-container-second-background {
    top: 5000px;
  }
}

@media (max-width: 768px) {
  .project-container-first-background {
    top: 4300px;
  }
  .project-container-second-background {
    top: 5500px;
  }
}
//project ends

//statistics styles
.statistics-row {
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  text-align: center;
}

.statistics-column {
  padding-bottom: 15px;
}

.statistics-heading {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 0;
}

.statistics-subheading {
  font-size: 35px;
  font-weight: 500;
}

@media (max-width: 992px) {
  .statistics-heading {
    font-size: 40px;
  }

  .statistics-subheading {
    font-size: 25px;
  }
}
//statistics ends

//backer styles
.backer-row {
  padding-bottom: 50px;
}

.backer-logo-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.backer-logo {
  max-width: 33%;
  padding-left: 15px;
  padding-right: 15px;
  object-fit: cover;
}

.backer-logo2 {
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px;
  object-fit: cover;
}

.backer-gitbook-logo {
  max-width: 45%;
}

@media (max-width: 992px) {
  .backer-logo,
  .backer-logo2 {
    max-width: 185px;
  }

  .backer-gitbook-logo {
    max-width: 150px;
  }
}
//backer ends

//join us styles
.join-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
//join us ends
