/* Add here all your css styles (customizations) */

.owl-buttons {
    display: none !important;
}

.ta-js{
	text-align: justify;
}

.fs-18{
	font-size: 18px;
}

.fs-16{
	font-size: 16px;
}

#our-cases .container {
    padding-top: 10px !important;
    padding-bottom: 70px !important;
}

#testimonials{
	margin-top: 0!important;
	padding-bottom: 60px;
}

#testimonials .container .sponsors {
    width: 40%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.sponsors li a {
    padding: 0 10px !important;
}

.sponsors li {
    height: 121px !important;
    width: 50%;
}

.sponsors li a img {
    height: 121px;
}

.caption-outer img{
	height: 233.33px!important;
}

#blog .lawyer-post img{
	height: 240px!important;
}

.our-team-v4-start{
	background: #4d4354 url(../img-temp/Our-Team.jpg) no-repeat 50% 0 / cover;
}

.our-team-v4-member-wrapper img{
	height: 450px!important;
}

.g-mb-40{
	margin-bottom: 10px !important;
}

#Contact{
	padding-bottom: 60px;
}

#Contact .row{
	margin-left: auto;
	margin-right: auto;
}

hr{
	margin: 0 0;
}

/*Projects*/

.g-heading-v9.text-center:after{
	left: 44%!important;
}

.g-heading-v9:after{
	width: 143px!important;
}

#blog{
	margin-top: 60px;
}

#blog h2, #blog2 h2, #blog3 h2{
	font-weight: 700;
	font-size: 40px;
}

#getInvolved, #projects{
	margin-top: 90px;
}

.g-pb-40{
	padding-bottom: 0;
}

.g-pt-100{
	padding-top: 60px!important;
}

#testimonials .container .g-mb-70{
	margin-bottom: 30px!important;
}

/*Get Involved*/

#getInvolved p{
	font-size: 18px;
	margin-bottom: 0;
}

#getInvolved .container .fs-16 p{
	font-size: 16px!important;
}

#getInvolved .footer-section p{
	font-size: 14px;
	margin-bottom: 30px!important;
}

#getInvolved-content{
	padding-top: 70px;
}

#getInvolved-content h3{
	font-weight: 600;
	font-size: 40px;
}

.heading-padding{
	padding-top: 30px;
}


.reduce{
	margin-bottom: 30px!important;
}

blockquote{
	/*border-left: 5px solid #e74c3c!important;*/
}

ul{
	list-style-type: none;
}

#points li p{
	margin-bottom: 10px!important;
}

.steps-heading{
	padding-bottom: 5px;
}

.steps-heading h4{
	font-weight: 600;
	padding-top: 30px;
}

.steps-heading .g-heading-v9:after{
    width: 60px!important;
}

@media (max-width: 768px) {
    .sponsors li {
        height: 121px !important;
        width: 50%;
    }

	#testimonials .container .sponsors {
	    width: 85%;
    }

	.sponsors li a img {
	height: 90px;
	}
}