.activity-card.activity {
  width: 100%;
  height: 100%;
  border: none;
}

.activity-card.activity:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253);
  transition: box-shadow 1s ease;
}

.activity-card.activity.activity-card-body {
  padding: 1rem 0;
}

.activity-card.activity.card-text {
  font-size: 0.9rem;
  padding: 0.4rem 1.9rem;
}

.container.fluid.row {
  padding-top: 6rem;
}

.btn.activity {
  color: #22247a;
  background-color: #fff;
  border-color: #22247a;
}

.btn.activity:hover {
  color: #fff;
  background-color: #22247a;
  border-color: #22247a;
}

.activity-card {
  height: 40rem;
  width: 25rem;
  border: 1px solid gray;
  padding: 2rem;
}

.activity-card-img-top.activity {
  transform: scale(1);
  transition: transform 0.5s ease;
  height: 10rem;
  object-fit: scale-down;
}

.activity-card-img-top.activity:hover {
  transform: scale(1.2);
  overflow: hidden;
}

.activity-card-description {
  text-align: left;
}

.activity-card-links {
  text-align: right;
  float: bottom;
}

.activity-card-link {
  margin: 0.5rem;
}

.activity-card-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  height: max-content !important;
  font-weight: bold;
}