.navbar-container {
  height: 90px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.navbar-logo {
  height: 50px;
  width: 170px;
}

.navbar-nav {
  background-color: $white;
  border: 0;

  .active {
    color: $black;
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;

    &:hover {
      color: $primary-blue;
      text-decoration: none;
    }
  }
}

.navbar-collapse {
  padding-top: 10px;
}

.nav-item {
  padding-bottom: 5px;
  padding-top: 5px;
}

.dropdown {
  .dropdown-item {
    color: $black;
    text-decoration: none;

    &:hover {
      background-color: $primary-blue;
      color: $white;
      text-decoration: none;
    }
  }
}

.nav-link {
  padding-top: 0;
}
