.component-heading{
    margin-bottom: 60px;
    font-weight: 600;
    font-size:48px;
}

.aws-sld.--exit.aws-sld--moveRight, .aws-sld.--exit.aws-sld--moveLeft {
    animation: scaleOut var(--slider-transition-duration) both
    var(--transition-bezier);
}
  
  @keyframes scaleOut {
    to {
      transform: scale(0.85);
    }
  }

.aws-btn {
    --slider-height-percentage: 60%;
    --slider-transition-duration: 670ms;
    --organic-arrow-thickness: 5px;
    --organic-arrow-border-radius: 30px;
    --organic-arrow-height: 22px;
    --organic-arrow-color: #cccccc;
    --control-button-width: 8%;
    --control-button-height: 80%;
    --control-button-background: transparent;
    --control-bullet-color: #22247a;
    --control-bullet-active-color: #22247a;
    --loader-bar-color: #ffffff;
    --loader-bar-height: 4px;
}

.custom-links {
  color: rgb(34, 36, 122);
  font-weight: 700;
  border-bottom: 3px solid rgb(34, 36, 122);
}

.custom-links:hover {
  color: rgb(34, 36, 122);
}

.design-banner-heading {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  color: #000000;
  margin-top: -15px !important;
}

.coming-soon {
  letter-spacing: 7px;
  font-size: 25px;
  margin-left: 25px;
  font-weight: normal;
}

.banner-text {
  font-size: 22px;
}