.spinner-border {
  width: 200px;
  height: 200px;
  position: relative;
  color: #151659;
}

.spinner-border::before {
  background-color: white;
}

#loadTweets {
  color: #151659;
}

#loadTweets:hover {
  background-color: #151659;
  color: white;
}

#allTweets,
#likedTweets,
#retweetedTweets {
  overflow-y: scroll;
  height: 600px;
  display: flex;
  flex-direction: column;
}
