.collaborate-card-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.collaborate-card {
  border: 1px solid $white;
  display: inline-block;
  max-width: 250px;
  min-height: 390px;
  padding: 15px;
  transition: all 0.3s ease 0s;
  &:hover {
    border: 1px solid $shadow-black;
    border-radius: 10px;
    box-shadow: 0 8px 15px $shadow-black;
  }
}

.collaborate-card-image {
  color: $primary-blue;
  object-fit: scale-down;
  text-align: center;
}

.collaborate-card-heading {
  color: $primary-blue;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 10px;
}

.collaborate-card-description {
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  text-align: justify;
}

@media (max-width: 1200px) {
  .collaborate-card {
    min-height: 486px;
  }
}

@media (max-width: 768px) {
  .collaborate-card {
    min-height: 400px;
  }
}
