@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/Inter-Regular.otf) format('opentype');
}

p {
  font-family: Inter;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar{
  height:10vh;
}
.navbar-collapse.show{
  overflow-y: hidden;
}
/* #logo{
  width:10vw;
} */
@media only screen and (max-width:800px){
  #logo{
    width:30vw !important;
  }
}
.main{
  margin: 0 auto;
  /* margin-top:12vh; */
  max-width: 960;
  padding: 0px 1.0875rem 1.45rem;
  padding-top: 0;
}
footer{
  margin-top: 3vh;
  /* background-color:#869AB8; */
  /* color:white; */
}
/* @media (min-width: 1200px){
.container {
    max-width: 80% !important;
}
} */
/* footer h3{
  
  float:left
} */

#discover1 {
  font-family: Raleway-SemiBold;
  font-size: 0.8em;
  color:black;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid black;
  border-radius: 40px;
  background: white;
  transition: all 0.3s ease 0s;
  /* float:right; */
}

#discover2 {
  color: black;
  background: white;
  border: 2px solid rgba(121, 117, 133, 0.75);
  display: none;
}

@media only screen and (max-width:1800px){
  .navbar{
    height:12vh
  }
  /* .main{
    margin-top:12vh
  } */
}

@media only screen and (max-width:1024px){
  .navbar{
    height:12vh
  }
  .main{
    /* margin-top:12vh */
  }
}

@media only screen and (max-width:320px){
  .navbar{
    height:16vh;
  }
  .main{
    margin-top:16vh
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
