.medium-post-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.medium-post {
  border: 1px solid $white;
  height: 500px;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 340px;
  padding: 10px;
  text-align: center;
  transition: box-shadow 1s ease;

  &:hover {
    border: 1px solid $shadow-black;
    border-radius: 10px;
    box-shadow: 0 8px 15px $shadow-black;

    .medium-view-more-bar {
      bottom: 0;
    }
  }

  .medium-outer-link {
    color: inherit;
    text-decoration: none;
  }

  .medium-fading-box {
    background-color: linear-gradient(to bottom, transparent, white);
    bottom: 0;
    height: 40%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}

.medium-post-content {
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}

.medium-fading-box {
  .medium-view-more-bar {
    background-color: $primary-blue;
    bottom: -70px;
    border: 2px solid $primary-blue;
    border-radius: 0 0 10px 10px;
    color: $white;
    display: flex;
    justify-content: center;
    padding: 10px 40px;
    position: absolute;
    transition: all 0.3s ease;
    width: 100%;
  }
}
